version: '3'

services:
  rest_api_generator:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 8008:80
    volumes:
      - ./app/:/app:ro
      - ./result:/var/www/html
      - ./etc/apache_vhost.conf:/etc/apache2/sites-enabled/000-default.conf
      - ./etc/php.ini:/usr/local/etc/php/php.ini
